<div class="wrapper">
  <div class="card">
    <img src="assets/Gabriel.jpg" >
    <div class="content">
      <h3>About</h3>
  
      <h1>Gabriel Lincoln</h1>
  
      <h2>Full Stack Developer</h2>
  
      <p>
        2+ years working as Full-Stack Developer, focusing in Angular and Java.
        I advanced in the developer career very quickly, for being very hardworking and dedicated in my duties.
        I love being a developer, creating new software, participating in new architectures, the whole IT universe.
      </p>

      <div class="icons">
        <a href="mailto:gabrielincoln17@gmail.com">
          <img src="assets/email.png" />
        </a>  
        <a href="https://www.linkedin.com/in/gabrielincoln/">
          <img src="assets/linkedin.svg" />
        </a>  
        <a href="https://github.com/gabrielincolnreis">
          <img src="assets/github.svg" />
        </a>
        <div class="download">
          <a  href="assets\Resume.pdf" download="">Download Resume</a>
        </div>
      </div>
    </div>
  </div>

</div>
