<div class="wrapper">
  <h2>Gabriel Lincoln</h2>

  <ul>
    <li>HOME</li>
    <li (click)="scrollToElement('about')" >ABOUT</li>
    <li (click)="scrollToElement('experience')" >EXPERIENCE</li>
    <li (click)="scrollToElement('skills')" >SKILLS</li>
  </ul>

  <button type="button" mat-button (click)="drawer.toggle()" >
    <mat-icon>view_headline</mat-icon>
  </button>

</div>

<mat-drawer #drawer mode="side" position="end" class="sidenav">
  <div class="sidenav-header">
    <button type="button" mat-button (click)="drawer.toggle()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <ul>
    <li>HOME</li>
    <li>ABOUT</li>
    <li>EXPERIENCE</li>
    <li>SKILLS</li>
  </ul>

  <div class="icons">
    <a href="mailto:gabrielincoln17@gmail.com">
      <img src="assets/email.png" />
    </a>  
    <a href="https://www.linkedin.com/in/gabrielincoln/">
      <img src="assets/linkedin.svg" />
    </a>  
    <a href="https://github.com/gabrielincolnreis">
      <img src="assets/github.svg" />
    </a>
  </div>

</mat-drawer>

