.wrapper{
  color: white;

  .job-list{
    display: flex;

    .title-list{
      display: flex;
      flex-direction: column;
      
      width: 20%;
      min-width: 200px;

      .title-item{
        border-left: 2px solid  white;
        cursor: pointer;
        margin: 1px;
        padding: 8px;

        &:focus{
          border-color: #986dff;
        }
      }
    }

    .job-item{
      display: flex;
    }
  }
  
}